@font-face {
  font-family: "Red Molot";
  src: url("../fonts/Red-Molot.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Hauora";
  src: url("../fonts/Hauora.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}