.promo {
  background-color: black;
  color: black;

  width: 100vw;
  height: 100vh;
  overflow: visible;
}
.promo h2 {
  margin-bottom: 10px;
}
.promo-wrapper {
  margin: var(--promo-margin);
  width: calc(100vw - var(--promo-margin) * 2 - 5px * 2);
  height: calc(100vh - var(--promo-margin) * 2 - 5px * 2);

  box-sizing: border-box;
  padding: 10px;
}
.promo__items {
  width: inherit;
  height: inherit;
  position: relative;
  box-sizing: border-box;
}
.promo-item {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sticker-about {
  top: -5%;
  right: 20%;
  rotate: 6deg;
  scale: 1.4;
  font-size: 90%;
}
.sticker-project {
  top: 7%;
  right: 5%;
  rotate: -8deg;
  scale: 1.2;
  font-size: 70%;
}
.sticker-project h2 {
  font-size: 110%;
}
.sticker-project p {
  font-size: 50%;
}
.sticker-autors {
  width: 24vw;
  height: 8vw;
  bottom: 30%;
  right: 90%;
  rotate: -4deg;
  font-size: 15%;
  padding: 5%;
}

.sticker-logo {
  width: 100%;
  bottom: 67%;
  left: 50%;
  rotate: 5deg;
  padding: 5px;
}

.sticker-media {
  bottom: 40%;
  right: 10%;
  rotate: 10deg;
  scale: 1.1;
  font-size: 10%;
}

.diary-link {
  left: 6%;
  top: 19%;
  rotate: 20deg;
  width: 20vw;
}
.newspaper-link {
  left: 4%;
  bottom: 39%;
  rotate: -7deg;
  width: 18vw;
}
.tape-link {
  left: 80%;
  top: 20%;
  rotate: 50deg;
  width: 18vw;
}
