html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: none;
    
    
    vertical-align: baseline;
    text-decoration: none;
    color: inherit;

    font: inherit;
    font-size: inherit;
    font-weight: inherit;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html {
    height: 100%;
}
body {
    max-width: 100vmax;

    line-height: 1;
}
ol, ul, li {
    list-style: none;
}
a, a:link, a:visited, a:hover {
    text-decoration: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
address {
  font-style: normal;
}

input, textarea, button, select {
	border: none;
    color: inherit;
    background-color: transparent;

    font-family: inherit;
    font-size: inherit;
}

input::-ms-clear {
	display: none;
}
button, input[type="submit"] {
    display: inline-block;

    background: none;
    background-color: transparent;
    box-shadow: none;
    
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}
@font-face {
  font-family: "Red Molot";
  src: url(fonts/e8bd1aede211ea46e390.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Khula";
  src: url(fonts/1102f94b1531686a0780.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
:root {
    --ver-margin: 20px;
    --hor-margin: 40px;
}
h1, .title {
    font-family: 'Red Molot';
    font-size: 10vw;
    white-space: nowrap;
}
img {
    display: block;
}
.logo-link {
    transition: 0.3s ease;
}
.logo-link:hover {
    scale: 1.1;
}


.menu-icon {
    width: 100%;
    height: auto;
}
.card__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.tag, .btn, .input {
  padding: 8px 16px;
  border: 1.5px solid black;
  border-radius: 100px;
  background: white;
  color: black;
  font-size: 14px;
  white-space: nowrap;
  width:  fit-content;
  height: 34px;
  box-sizing: border-box;

  transition: 0.2s ease;
}

.tag:hover, .btn:hover , .input:hover {
  filter: invert();
  cursor: pointer;
}






/* MENU */
.menu-button {
  position: fixed;

  left: var(--hor-margin);
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;

  width: 44px;
  height: 100px;
  padding: 0 10px;
}


/* .menu-button svg,
.menu-button .menu-icon {
  display: block;
  width: 44px;
  height: auto;
} */

.menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 998;
}

.menu-backdrop--open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.menu-panel {
  position: fixed;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-left: 100px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 999;
}


.menu-panel--open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}



.menu-panel__button:hover {
  transform: scale(1.05);
  /* opacity: 0.8; */
}


/* HEADER */
.header, .footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}


.search {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.input {
  /* position: relative;
  max-width: 500px; */
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}



/* .input {
  
  height: 100%;
  border: 1.5px solid black;
  border-radius: 20px;
  background: white;
} */

/* .input:focus {
  border-color: black;
} */



/* .filter-tags {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
} */

/* .filter-tag {
  padding: 8px 16px;
  border: 1.5px solid black;
  border-radius: 20px;
  background: white;
  color: black;
  font-family: "Kiwi Maru", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
} */

/* .filter-tag--clear {
  padding: 8px;
  min-width: 32px;
  cursor: pointer;
  background: white;
  border: 1.5px solid black;
} */




.header__logo {
  display: flex;
  align-items: center;
  gap: 9px;
  font-family: "Red Molot", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 44px;
  line-height: 1.2;
  color: black;
  white-space: nowrap;
}

/* CARD */
.card {
  position: relative;
  /* width: 430px;
  height: 580px; */
  height: 580px;
}
.card__front{
  z-index: 1;
  position: relative;
  background-color: white;
  color: black;
}
.card__back{
  z-index: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: black;
  /* border: 1px solid white; */
  color: white;
  transform: rotateY(-180deg);
}
.card__front, .card__back {
  padding: 24px 12px;
  box-sizing: border-box;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease;
  /* transition: transform 0.3s cubic-bezier(.2,.85,.4,1.275); */
}

.card:hover .card__back {
  transform: rotateY(0deg);
  z-index: 2;
}
.card:hover .card__front {
  transform: rotateY(180deg);
  z-index: -1;
}

/* .card {
  background: white;
  color: black;
  height: 100px;
  transition: transform0.6s ease;
}
.card-inner {

}
.card:hover {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
} */

/* ТЕСТЫ */
.test-types-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.test-types-nav a {
  width: 100%;
  text-align: center;
  background-color: white;
}
.test-types-nav a:hover {
  /* background-color: black;
  color: white; */
  filter: invert();
}

html {
  overflow-x: hidden;
  height: 100%;
}
body {
  font-family: Arial;
  font-size: 14px;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  height: 100%;

  padding: var(--ver-margin) var(--hor-margin);
  box-sizing: border-box;
}


.about, .styleguide, .files, .podcasts, .test-types {
  background-color: white;
  color: black;
}

.promo, .articles {
  background-color: black;
  color: white;
}



.main {
  /* margin: var(--ver-margin) var(--hor-margin); */
  /* box-sizing: border-box; */
}

.main-articles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}




